{% extends "layout.html" %}
{% block content %}
  <h2>Welcome to the Public Blogspot!</h2>
  	<br>
  	<br>

<p>Create your free account now to start blogging about your inner thoughts and feelings! If you have any questions about this website or encounter any problems, please go to the contact form and send us an email. We will get back to you shortly with a way to address the problem.</p>

<p>On this web application, you can post a blog about any topic that you like which will be public to anyone who visits the page site. Your posts are displayed anonymously to keep your identity safe in case you are discussing a controversial topic. Security is the upmost priority of us here. You can always log back into your account and blog whatever your heart desires whenever it desires it.</p>

 

<p>Thanks so much for using our page!!!</p>
<p>XOXO The Public Blogspot Team</p>

{% endblock %} 